{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
	"env": {
        "browser": true,
        "node": true
    },
	"extends": ["eslint:recommended"],
	"rules": {
		"no-console": 1,
		"no-unused-vars": 1
	},
	"globals": {
        "jest": false,
		"describe": false,
		"it": false,
		"expect": false
    }
}
